/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    font-size: 9px;
    bottom: 2px;
}

.search {
    padding: 0 7px;
    background-color: #DDDDDD;
}

#geocoder {
    padding-top: 5px;
}

.legend-item {
    text-align: center;
}

.availability-legend {
    background: url(img/availability_legend.png) no-repeat 50% 50% transparent;
}

.pricing-legend {
    background: url(img/pricing_legend.png) no-repeat 50% 50% transparent;
}

.findHeader {
    padding: 5px 5px 5px 5px;
}


.fullDisplay {
    display: none;
}

.availability-btn {
    background: url(img/availability_pricing_btns.png) no-repeat 0px 0px;
}
.x-btn-over.availability-btn {
    background-position: 0px -33px;
}
.x-btn-pressed.availability-btn {
    background-position: 0 -66px;
}
.availability-btn .x-btn-tl, 
.availability-btn .x-btn-tr, 
.availability-btn .x-btn-tc, 
.availability-btn .x-btn-ml, 
.availability-btn .x-btn-mr, 
.availability-btn .x-btn-mc, 
.availability-btn .x-btn-bl, 
.availability-btn .x-btn-br, 
.availability-btn .x-btn-bc {
    background: transparent;
}

.pricing-btn {
    background: url(img/availability_pricing_btns.png) no-repeat -99px 0px;
}
.x-btn-over.pricing-btn {
    background-position: -99px -33px;
}
.x-btn-pressed.pricing-btn {
    background-position: -99px -66px;
}
.pricing-btn .x-btn-tl, 
.pricing-btn .x-btn-tr, 
.pricing-btn .x-btn-tc, 
.pricing-btn .x-btn-ml, 
.pricing-btn .x-btn-mr, 
.pricing-btn .x-btn-mc, 
.pricing-btn .x-btn-bl, 
.pricing-btn .x-btn-br, 
.pricing-btn .x-btn-bc {
    background: transparent;
}

.refresh-btn {
    background: url(img/button_refresh.png) no-repeat 0px 0px;
}
.refresh-btn button {
    width: 20px;
}
.x-btn-over.refresh-btn {
    background-position: 0px -28px;
}
.refresh-btn .x-btn-tl, 
.refresh-btn .x-btn-tr, 
.refresh-btn .x-btn-tc, 
.refresh-btn .x-btn-ml, 
.refresh-btn .x-btn-mr, 
.refresh-btn .x-btn-mc, 
.refresh-btn .x-btn-bl, 
.refresh-btn .x-btn-br, 
.refresh-btn .x-btn-bc {
    background: transparent;
}

.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr {
    background: transparent;
}

.legend-tip {
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px 10px 15px 10px;
}
.legend-tip h4 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}
.legend-tip ul li {
    list-style-type: none;
    margin: 0;
    padding: 4px 0 0 20px;
    font-size: 13px;
}
li.legend-avail-low {
    background: url(img/bullet_avail_low.png) no-repeat 2px 5px;
}
li.legend-avail-med {
    background: url(img/bullet_avail_med.png) no-repeat 2px 5px;
}
li.legend-avail-high {
    background: url(img/bullet_avail_high.png) no-repeat 2px 5px;
}
li.legend-rates-low {
    background: url(img/bullet_rates_low.png) no-repeat 2px 5px;
}
li.legend-rates-med {
    background: url(img/bullet_rates_med.png) no-repeat 2px 5px;
}
li.legend-rates-high {
    background: url(img/bullet_rates_high.png) no-repeat 2px 5px;
}
li.legend-nodata {
    background: url(img/bullet_nodata.png) no-repeat 2px 5px;
}

/* popups */
.popup-minimal .x-tool-close {
    display: none;
}
.popup-content {
    padding-left: 5px;
}
.popup-content h4 {
    white-space: nowrap;
    font-size: 15px;
    margin-bottom: 5px;
}
.popup-content h5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}
.popup-content p {
    margin: 5px 0;
}
.popup-content table {
    margin-bottom: 5px;
}
.popup-content td {
    white-space: nowrap;
    padding: 0 5px;
}
.popup-content td.rate-restriction {
    font-size: 10px;
    font-style: italic;
    text-align: right;
}
a.popup-more {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    padding: 5px 0 0 5px;
    background: url(img/button_plus.png) no-repeat 5px 0;
}
a.popup-more:hover {
    text-decoration: none;
}

.x-window-ml {
    background-color: #e1e3e4;
}
.x-window-mc {
    background-color: #e1e3e4;
    border-width: 0px;  
}
.gx-dark .x-window-ml {
    background-color: #050505;
}
.gx-dark .x-window-mc {  
    background-color: #050505;
    border-width: 0px;
}
.x-window-tc,
.x-window-bc {
    background-image: url("img/top-bottom.png");
}
.x-window-ml,
.x-window-mr  {
    background-image: url("img/left-right.png");
}
.x-window-tl,
.x-window-bl {
    background-image: url("img/left-corners.png");
}
.x-window-tr,
.x-window-br {
    background-image: url("img/right-corners.png");
}
.gx-popup-anc {
    background-image: url("img/anchor.png");
}
