/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    font-size: 9px;
    bottom: 2px;
}

.search {
    padding-top: 5px;
    background-color: #DDDDDD;
}

.legend {
    background-color: #EEEEEE;
    padding: 15px 0 0 12px;
}

.availability-legend {
    background: url(img/availability_legend.png) no-repeat;
}

.findHeader {
    padding: 5px 5px 5px 5px;
}
